<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25370112937-igqatbmckvu8589kanvpqt7teno8ulbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25370112937-igqatbmckvu8589kanvpqt7teno8ulbo</string>
	<key>API_KEY</key>
	<string>AIzaSyDeMwM5KH6Q59-w-NE3ntcaVDDP8MFbbU4</string>
	<key>GCM_SENDER_ID</key>
	<string>25370112937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sonda</string>
	<key>PROJECT_ID</key>
	<string>sonda-b3fbb</string>
	<key>STORAGE_BUCKET</key>
	<string>sonda-b3fbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25370112937:ios:efb8f2639dc416a7d70ab8</string>
</dict>
</plist>